@import '~antd/dist/antd.css';
.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.App .ReactVirtualized__Grid__innerScrollContainer {
    overflow-x: scroll!important;
}

.App .ReactVirtualized__Grid:focus {
    outline: none;
}

.App .Header {
    width: 100%;
    padding: 4px 12px;
    box-shadow: 0px 0px 4px #ccc;
    z-index: 1;
}

.App .line {
    border-right: 1px dashed #ccc;
    height: 20px;
}